html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #63747F;
    text-align: center;
    background-color: #EDF2F6;
}

.main-title {
    font-weight: bolder;
    color: #AEC8D8; 
}

.img {
    border-style: groove;
    border-width: 0.5em;
    border-color: #4974a5;
}

.description {
    font-size: 1.5em;
}

.list {
    list-style-type: none;
    background-color: #a5c2d4;
}

.list-item {
    display: block;
    padding: 0.5em;
}

.link {
    padding: 0.5em 0.5em;
    display: inline-block;
    background-color: #525252;
    color: white;
    width: 8em;
}

.link:link {
    color: white;
}

.link:visited {
    color: rgb(255, 255, 255);
}

.link:active {
    color: rgb(236, 236, 140);
}
