html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
}

.main-title {
    font-weight: bolder;
    color: rgb(8, 8, 167);
}

.img {
    border-style: groove;
    border-width: 10px;
    border-color: #a52a2a;
}

.description {
    font-size: 20px;
}

.list {
    list-style-type: none;
    background-color: rgb(150, 21, 21);
}

.list-item {
    padding: 10px 10px;
    display: inline-block;
    background-color: green;
    color: white;
}

.list-item:link {
    color: white;
}

.list-item:visited {
    color: rgb(255, 255, 255);
}

.list-item:active {
    color: rgb(236, 236, 140);
}

